*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: linear-gradient(#503636, #fdefef);
    --clr-accent: linear-gradient(#27dfcf, #e6e2e3);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
    margin-top: 0;
    line-height: 1.2;
}
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
